@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&family=Rubik:wght@300&display=swap');

/*font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {

    font-family: 'Lora', serif;
    font-weight: 600;
    color: #1B1A1E;


    /* background-color: #CFC4F41; */
    background-color: rgba(223, 237, 244, .8)
        /* or should this go int #hero-text-area?*/

}

/*header, footer and logo */
header,
footer {
    width: 100%;
    min-height: 140px;
    background-color: #2F4858;
    /* background-color: #2E0079;*/
    overflow: hidden;

}

/*to keep header in fixed position and to get it to appear in front*/
header {
    position: fixed;
    z-index: 1;
    top: 0;
    line-height: 140px;
}



#logo {
    background-image: url('../images/embrace_logo.png');
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 5px;
    margin: 20px 30px;


}

/*header navigation links and footer links */

#menu {
    float: right;
}

#menu li {
    float: left;
    padding-right: 30px;
    list-style-type: none;
    display: inline;
}

#menu a,
footer a {
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 100;
}

#menu a:hover,
footer a:hover,
.submit:hover,
#conf-button a:hover {
    color: #8D7257;
}

#menu a:active,
footer a:active,
.submit:active,
#conf-button a:active {
    color: rgb(199, 99, 99);
    text-decoration: underline;
}

/*main image area*/

#hero-outer {
    /* height: 500px;*/
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 140px;
}


#hero-image-home,
#hero-image-about,
#hero-image-sessions {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 500px;
}

#hero-image-home {
    background-image: url('../images/parents_support_group.jpg');
}

#hero-image-about {
    background-image: url('../images/session_in_place.jpg');
}

#hero-image-sessions {
    background-image: url('../images/group_from_distance.jpg');
}


/*summary label */

#hero-summary {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    top: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, .7);
    animation: fadeIn 20s;
    position: absolute;


    /*animation to fade label in and out*/
    -webkit-animation: fadeIn 20s;
    -moz-animation: fadeIn 20s;
    -o-animation: fadeIn 20s;
    -ms-animation: fadeIn 20s;
}


@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeIn {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeIn {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeIn {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*summary label text*/

#hero-summary h1 {
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #852727;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

/*motto label*/

#cover-text {
    background-color: rgb(133, 39, 39, .5);
    letter-spacing: 2px;
    color: white;
    height: auto;
    width: 200px;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    position: absolute;
    border-radius: 5%;
}

/*motto text*/

#cover-text p {
    font-weight: initial;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding-right: 20px;
}

#hero-text-area {
    height: 100%;
    /* height: auto;*/
    width: 100%;
    overflow: hidden;
    /*  position: relative;*/
    /*  text-align: center; */
}

#hero-text-area h2,
#hero-outer h2,
#hero-outer h3,
#hero-text-area h3 {
    padding: 30px;
    clear: both;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/*Style right and left divs of the text area and their elements*/




.to-left {
    float: left;
    width: 50%;
    /* background-color: green;*/
    height: 500px;
    text-align: center;
    /*   position: relative;*/

}

.to-right {
    float: right;
    width: 50%;
    /*  background-color: blue; */
    height: 500px;
    /* position: relative;*/
    display: table;
    text-align: center;
}



.to-right p {
    page-break-inside: auto;

    text-align: justify;
    padding: 0 20px;

}




.to-left,
.to-right {
    border: .5px solid rgba(139, 133, 136, .2);
    background-color: #F4F6F4;
    box-sizing: border-box;

}



.to-left img,
.to-left iframe,
.right-text-container {
    background-repeat: no-repeat;
    height: 350px;
    /*change to fixed value?*/
    width: 500px;
    margin-top: 75px;
    border: 0px;

}


.right-text-container {
    display: table-cell;
    vertical-align: middle;
}

/*Style the testimonials unordered list and its elements*/

#testimonial li {
    width: 50%;
    text-align: center;
    border: .5px solid rgba(139, 133, 136, .2);
    background-color: #F4F6F4;
    height: 250px;

    list-style-type: none;
    box-sizing: border-box;
    display: inline;
    float: left;
}

#testimonial li p,
#team-founders p {
    page-break-inside: auto;
    text-indent: 20px;
    padding: 20px;
    text-align: justify;
}

.strong {
    color: rgb(30, 107, 117);
}

.indent {
    text-indent: 20px;
}

#testimonial::after {
    content: "";
    clear: both;
    display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */

#testimonial li img,
#psych {
    float: left;
    margin: 20px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#psych {
    margin: 0 20px;
}

/*Style the footer divs and their elements*/

#footer-item-left {
    float: left;
    text-align: center;
    width: 33%;
    margin: 0 auto;
    padding-top: 54px;
}

#footer-item-centre {
    text-align: center;
    width: 33%;
    margin: 0 auto;
    padding-top: 54px;
    display: inline-block;
}

#footer-item-right {
    float: right;
    text-align: center;
    width: 33%;
    margin: 0 auto;
    padding-top: 54px;
}

#footer-item-right li {
    display: inline;

}

footer h6 {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer i {
    color: white;
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 10px;
    padding-right: 15px;
}

/*Style the team-founders unordered list and its elements*/

#team-founders li {
    display: inline;
    width: 50%;
    height: 400px;
    float: left;
    border: .5px solid rgba(139, 133, 136, .2);
    background-color: #F4F6F4;
    box-sizing: border-box;
    text-align: center;
}






#team-founders li img {
    height: 200px;
    width: 200px;
    padding-top: 20px;

}

/*Style the concerns unordered list*/
#concerns li {
    font-size: 20px;
    text-align: justify;
    margin: 8px 8px 8px 40px;
    list-style-type: none;
}

#concerns li::before {
    content: '\f059';
    font-family: 'FontAwesome';

    float: left;
    margin-left: -1.5em;
    color: rgb(30, 107, 117);
}


/*class added for manual slideshow on gallery page*/

.mySlides {
    display: none;
    position: relative;
    width: 100%;


    /*creates zoom effect*/
    animation-name: slideshow-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/*level of zoom for slideshow images*/

@keyframes slideshow-zoom {

    from {
        transform: scale(.8)
    }

    to {
        transform: scale(1)
    }
}



/*class to show first slide in w3 slideshow*/
.first-slide {
    display: block;
}

.w3-display-container {
    padding: 20px;


}

#slide-text {
    background-color: rgb(133, 39, 39, .5);
    letter-spacing: 2px;
    color: white;
    height: auto;
    width: 200px;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    position: absolute;
    border-radius: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: initial;


}

/* style divs for contact page and their elements*/

.push-down-hero-text-area {
    margin-top: 140px;
}

.to-right-large {
    width: 50%;
    height: 1200px;

    float: right;
    /*    background-color: yellow;*/
    text-align: center;

}


.to-left-small {
    width: 50%;
    height: 600px;
    float: left;
    font-family: 'Lora', serif;
    ;
    /* background-color: red;*/
    text-align: justify;

}




.map {
    height: 80%;
    width: 80%;
    border: 10px solid rgba(139, 133, 136, .2);

}

.contact-form {
    border: .5px solid rgba(141, 139, 140, 0.2);
    background-color: rgb(218, 214, 214);

}

.to-left-small p,
.text-input,
.email-input,
.text-label,
.email-label {
    padding: 0 20px;
    font-family: 'Lora', serif;
    font-weight: 600;
    color: #1B1A1E;


}


.text-label,
.email-label {
    padding-bottom: 10px;
}

.to-left-small h3 {
    padding: 20px 10px;
    text-align: center;
}

.to-right-large h3 {
    padding: 40px 0;
}

.text-input input,
.email-input input {

    border: 5px solid rgba(29, 23, 26, 0.2);


}


#form {
    padding: 0 20px;
    border-radius: .5px;
}




#choice-field {
    text-align: center;
    font-family: 'Lora', serif;
}

.choice-label {
    font-size: 20px;
}

.radio-label {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}


.submit {
    height: 50px;
    width: 100px;
    background-color: rgba(61, 14, 14, .7);
    border-radius: 5%;
    font-size: 25px;
    color: rgb(227, 227, 243);
    margin: 20px 0;
    font-family: 'Rubik', sans-serif;

}

#conf-statement {
    text-align: justify;
    padding: 50px;
}

#conf-button {
    text-align: center;
    height: 35px;
    width: auto;

}

#conf-button a {
    text-decoration: none;
    color: rgb(114, 74, 93);
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the #container*/


/*For Mobile Phones @media (max-width:480px){}
For Tablets @media (max-width:960px){}
For Laptops/Desktop @media (min-width:1025px){}
For Hi-Res Laptops @media (max-width:1280px){}*/

/*For landscape view on large desktops*/
@media screen and (min-width: 1500px) {

    #cover-text {


        right: 120px;

    }

    #hero-summary {

        margin-left: 120px;

        top: 40px;

    }
}

/*For both portrait and landscape view on android devices and  landscape view on laptops*/
@media screen and (min-width: 1025px) and (max-width: 1280px) {}


/*For both portrait and landscape view on tablet devices*/
@media screen and (min-width: 768px) and (max-width: 1024px) {}


/*For both portrait and landscape view on mobile phones*/

@media screen and (min-width:280px) and (max-width:767px) {

    header {
        position: relative;

    }

    #menu li a {
        float: none;
        width: 100%;
        margin-left: 20px;
    }



    #hero-outer,
    #hero-text-area {
        margin-top: 0;
    }

    #cover-text {
        visibility: hidden;

    }

    #testimonial {
        text-align: center;
    }

    /* #testimonial li,*/
    /*  #menu li,*/
    .to-left,
    /*  .to-right,*/
    #testimonial img {
        margin: auto;
        float: none;
        display: block;
        width: auto;
        height: auto;
        text-align: center;
    }

    .to-right {

        width: 100%;
        height: 100%;
    }

    .to-right p {
        padding: 20px
    }

    #testimonial li {
        margin: auto;
        float: left;
        display: block;
        width: auto;
        height: auto;
        text-align: center;
    }



    .to-left iframe {
        margin: auto;
        float: none;
        display: block;
        height: auto;
        width: auto;

    }

    .to-left img {

        float: none;
        display: block;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;


    }

    #footer-item-left,
    #footer-item-centre,
    #footer-item-right {
        margin: auto;
        float: none;
        display: block;
        text-align: center;
        width: auto;
        height: auto;
        margin: 10px;

    }





    #team-founders li {

        margin: auto;
        float: none;
        display: block;
        text-align: center;
        width: auto;
        height: auto;
    }

    #cover-text {
        visibility: hidden;
    }

    #hero-summary {
        width: 100%;

        margin: 0;

    }



    .to-left-small {
        margin: auto;
        float: none;
        display: block;
        text-align: center;
        width: auto;
        height: auto;
    }

    .to-right-large {
        margin: auto;
        float: none;
        display: block;
        text-align: center;
        width: auto;
        height: auto;
    }

    #form {
        padding: 0;
    }

    footer h6 {
        visibility: hidden;
    }

    .to-left-small {
        text-align: justify;

    }

}